body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: darkgray;
    align-items: center;
    padding: 10px;
}

.logo {
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    font-size: 30px;
    height: 40px;
    display: flex;
    align-self: center;
    
}

.header-left {
    font-size: 20px;
    font-weight: 800;
    display: flex;
    gap: 30px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

li {
    border: none;
    border-radius: 20px;
    padding: 15px;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border-radius: 10px;
    padding: 5px 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 15px;
}
.container-one {
    display: flex;
    flex-direction: row;
    background-color: darkgray;
    gap: 50px;
    justify-content: space-evenly;
    padding: 50px;

}

.one {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    gap: 20px;
}

.info-one {
    font-size: 30px;
    font-weight: 500;
}

.sub-info-one {
    font-size: 15px;
    color: rgb(41, 41, 41);
    padding: 8px;
}

.welding-photo {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-two {
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.info-two {
    display: flex;
    font-weight: 800;
    font-size: 30px;
    border: none;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
}

.cards {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    text-align: center;
}

.card-item {
    padding: 20px;
    margin: 15px;
}

img {
    border: none;
    border-radius:60px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
}

.image-text {
    margin: 15px;
    font-size: 15px;
}

.container-three {
    display: flex;
    background-color: rgb(238, 238, 238);
    justify-content: center;
    height: 400px;
}

.three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-quote {
    font-size: 40px;
    font-weight: 200;
}

.quote-author {
    margin-right: 40px;
    align-self: flex-end;
}

.container-four {
    display: flex;
    height: 200px;
    background-color: rgb(49, 49, 49);
    justify-content: space-around;
    align-items: center;
}

.newsletter-left {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 25px;
    background-color: white;
    padding: 15px;
    gap: 20px;
}

.newsletter-right {
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 20px;
    background-color: white;
    padding: 25px;
}

.newsletter-title-text {
    font-size: 30px;
    font-weight: 600;
}

.footer {
    display: flex;
    height: 50px;
    background-color: darkgray;
    justify-content: center;
    align-items: center;
}




